@import url('https://fonts.googleapis.com/css?family=Rubik:700&display=swap');

body {
    font-family: 'Rubik', sans-serif;
}

button {
    padding: 0.75em 0.75em;
    border-radius: 0.85em;
    border: 3px dotted #d904bf;
    cursor: pointer;
    margin: 0 5px;
    transition: all 0.3ms ease-in-out;

    &:hover {
        border: 3px solid #ff0067;
        border-radius: 5em;
    }

    &:active {
        background-color: rgba(255, 0, 103, 0.55);
    }
}
